/* reset  */

/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html,body,div,span,applet,object,iframe,
 h1,h2,h3,h4,h5,h6,p,blockquote,pre,
a,abbr,acronym,address,big,cite,code,
del,dfn,em,img,ins,kbd,q,s,samp,
small,strike,strong,sub,sup,tt,var,
b,u,i,center,
dl,dt,dd,ol,ul,li,
fieldset,form,label,legend,
table,caption,tbody,tfoot,thead,tr,th,td,
article,aside,canvas,details,embed,
figure,figcaption,footer,header,hgroup,
menu,nav,output,ruby,section,summary,
time,mark,audio,video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section {
  display: block;
}

ol,ul {
  list-style: none;
}

blockquote,q {
  quotes: none;
}

blockquote::before, blockquote::after,
q::before,q::after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* general */

* {
  box-sizing: border-box;
}

body {
  background-color: #eee;
  margin: auto;
  line-height: 1;
}

/* Header */
header {
  height: 178px;
  background-color: gray;
  width: 100%;
}

#nav-header {
  width: 100%;
  height: 137.1px;
}

li {
  display: inline-flex;
}

/* Main section */
.container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.box1 {
  display: flex;
  flex-direction: column;
  height: 781px;
  width: 50%;
  background-color: rgb(78, 78, 78);
}

.box2 {
  display: flex;
  flex-direction: column;
  height: 781px;
  width: 50%;
  background-color: rgb(160, 157, 157);
}

.box3 {
  display: flex;
  flex-direction: column;
  height: 781px;
  width: 50%;
  background-color: rgb(160, 157, 157);
}

.box4 {
  display: flex;
  flex-direction: column;
  height: 781px;
  width: 50%;
  background-color: rgb(78, 78, 78);
}

.post-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 62rem;
  padding: 2rem 2rem;
  align-items: flex-start;
}

.posts {
  display: grid;
  width: 100%;
  grid-template-rows: 100%;
  grid-template-columns: 33% 33% 33%;
  grid-row-gap: 4rem;
  height: 59rem;
}

.new-posts {
  display: flex;
  height: 100%;
  flex-direction: column;
  text-align: left;
  padding: 1.5rem;
}

h2 {
  height: 35px;
  background-color: #a9a9a9;
  font-size: 3em;
}

p {
  font-size: 2rem;
  line-height: 2;
  font-family: 'Times New Roman', Times, serif;
  padding-top: 10px;
}

/* Second container */
.container2 {
  display: flex;
  flex-direction: row;
}

.mini-article {
  width: 428px;
  height: 650px;
  padding: 30px;
  background-color: lightgrey;
}

.red-box {
  width: 856px;
  height: 661px;
  background-color: rgb(54, 53, 53);
  border-radius: 11px;
}

.load-more {
  text-align: center;
  padding: 1em 0 5em;
  width: 100%;
  background-color: rgb(228, 226, 226);
}

.load-more a {
  text-transform: uppercase;
  text-decoration: none;
  color: black;
}

.container3 {
  background-color: gray;
  height: 1021px;
  width: 100%;
}

.container3 > h3 {
  display: flex;
  justify-content: center;
  padding-top: 40px;
  font-size: 60px;
  color: white;
}

.container3 > p {
  display: flex;
  justify-content: center;
  padding-top: 20px;
  font-size: 50px;
  color: white;
}

#button-link {
  text-decoration: none;
}

#button1 {
  background-color: white;
  padding: 10px;
  font-size: 30px;
  margin-top: 50px;
  margin-left: 800px;
}

.container4 {
  background-color: rgb(228, 226, 226);
  height: 1603px;
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

#c4-header {
  background-color: rgb(228, 226, 226);
  height: 400px;
  width: 100%;
}

.box5 {
  display: flex;
  flex-direction: column;
  height: 401px;
  width: 50%;
  background-color: rgb(45, 46, 46);
}

.box6 {
  display: flex;
  flex-direction: column;
  height: 401px;
  width: 50%;
  background-color: rgb(83, 84, 84);
}

.box7 {
  display: flex;
  flex-direction: column;
  height: 401px;
  width: 50%;
  background-color: rgb(100, 102, 102);
}

.box8 {
  display: flex;
  flex-direction: column;
  height: 401px;
  width: 50%;
  background-color: rgb(154, 156, 156);
}

.box9 {
  display: flex;
  flex-direction: column;
  height: 401px;
  width: 50%;
  background-color: rgb(178, 179, 179);
}

.box10 {
  display: flex;
  flex-direction: column;
  height: 401px;
  width: 50%;
  background-color: rgb(44, 45, 45);
}

.container5 {
  background-color: rgb(228, 226, 226);
  height: 180px;
  width: 100%;
  text-align: center;
}

.container5 > a {
  text-decoration: none;
  color: black;
  text-transform: uppercase;
  position: relative;
  top: 100px;
  font-size: 25px;
}

section.big-red-box {
  width: 100%;
  height: 422px;
  background: rgb(78, 78, 78);
  padding: 2.5em 3.5em;
  display: flex;
  flex-direction: row;
}

button.white-button {
  background-color: rgb(53, 52, 52);
  width: 285px;
  height: 68px;
  border-radius: 11px;
  text-align: center;
  font-weight: 700;
  position: relative;
  top: 210px;
  color: #eee;
}

.red-box-content {
  width: 779px;
  height: 315px;
  display: flex;
  flex-direction: column;
}

.right-column {
  background-color: rgb(146, 143, 143);
  width: 322px;
  height: 414px;
  position: relative;
  bottom: 60px;
  left: 30px;
}

.mini-article2 {
  width: 478px;
  height: 650px;
  padding: 30px;
  background-color: lightgrey;
}

.red-box2 {
  width: 800px;
  height: 661px;
  background-color: rgb(54, 53, 53);
  border-radius: 11px;
}

.red-box2 > a {
  text-decoration: none;
  color: white;
  font-size: 20px;
}

/* footer */
.main-footer {
  width: 1349px;
  height: 600px;
}

h4 {
  text-transform: uppercase;
  letter-spacing: 1px;
  text-align: center;
  height: 100px;
  width: 100%;
  padding-top: 60px;
  color: white;
}

.footer-topics {
  width: 100%;
  height: 300px;
  padding-bottom: 20px;
  background-color: darkgrey;
  display: block;
}

.hidden {
  display: none;
}

.footer-links {
  height: 300px;
  width: 100%;
  background-color: rgb(78, 74, 74);
}
